body {
    margin: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.avatar {
    width: 150px;
}

.card {
    width: 600px;
    margin: 0 auto;
    /* margin-left: auto;
    margin-right: auto; */

    padding: 20px;
    display: flex;
    justify-content: space-around;
    

    text-align: center;

    background: #050405;
    color: #1c0c30;
    border: 50px;
    border-bottom: 6px solid #723ec4;
    border-right: 6px solid #723ec4;
    border-left: 6px solid #723ec4;
    border-top: 6px solid #723ec4;
    border-top-right-radius: 20px;
}

.border-blue {
    border: 1px dotted blue;
}