body {
    margin: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.avatar {
    width: 150px;
    border-style: outset;
    border-radius: 20px;
    padding-top: 2px ;
    padding-bottom: 2px;
    box-shadow: 1px 3px gray;
    transition: all .2s;
    
}
.avatar:hover{
    transform:rotateZ(360deg);
}

.card {
    width: 600px;
    margin: 0 auto;
    /* margin-left: auto;
    margin-right: auto; */

    padding: 20px;
    display: flex;
    justify-content: space-around;

    text-align: center;

    background: #ffdcff;
    color: #1c0c30;
    border: 50px;
    border-bottom: 6px solid #723ec4;
    border-right: 6px solid #723ec4;
    border-left: 6px solid #723ec4;
    border-top: 6px solid #723ec4;
    border-top-right-radius: 20px;
}

.border-blue {
    border: 1px dotted blue;
}

.card a{
    text-decoration: none;
    color: #1c0c30;
}